[Desktop Entry]
Exec=chmod 777 /home/$USER/.config/rofi/launchers/type-6/launcher.sh && /home/$USER/.config/rofi/launchers/type-6/launcher.sh
Name=launcher
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
